h2 {
  font-family: fantasy;
}

body {
  background: linear-gradient(to top, #66ff99 0%, #ff99cc 100%);
  font-family: sans-serif;
  /* background-color: #faffff; */
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.displaytodos {
  max-width: auto;
}

.todo-input {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid green;
  border-radius: 5px;
}

.add-btn {
  font-size: normal;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.card {
  border: 2px Dashed yellow;
  flex: 0 1 calc(48% - 10px);
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  line-break: normal;
  transition: transform 0.3s ease-in-out;
}

.card-content {
  margin-bottom: 10px;
}

.btns button {
  transition: background-color 2s ease ;
  margin-right: 5px;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.btns button:hover {
  background-color: black;
}
.add-btn:hover{
  background-color: black;
}

.completed {
  color: green;
  font-weight: bold;
}
.card > div {
  line-break: normal;
  overflow: hidden;
  margin-bottom: 15px;
}

textarea {
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  height: 50px;
}

.completed-task {
  background-color: #d9ffd9;
  text-decoration: line-through;
}

.in {
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 50px;
}

.card:hover {
  transform: translateY(-5px);
}


/* Responsive design */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
